$paddingContainer: 100px 10%
$paddingContainerTablet: 20px 5%
$lightBlue: #76818d
$darkBlue: #2c3e50
$white: white
$headers: #E87E04
$darkBlack: #000000
body
    font-size: 16px
    line-height: 18px
    font-weight: normal
    color: $lightBlue
.container
    margin: 0 auto
    max-width: 1980px
    padding: $paddingContainer
h1
    text-align: center
    color: $darkBlue
    font-size: 3.5em
    line-height: 60px
    font-weight: 600
h2
    text-align: center
    color: $darkBlue
    font-size: 2em
    line-height: 35px
    font-weight: 500
    margin-bottom: 0.5em
    text-transform: uppercase
h2:after
    content: ""
    height: 3px
    display: block
    width: 70%
    background-color: $headers
    margin: auto
    transform: translateY(0.5em)

.btn
    padding: 15px
    color: $darkBlack
    border: 1px solid $darkBlack
    border-radius: 10px
    text-align: center
    min-width: 120px
    &:hover
        color: $white
        background-color: $darkBlue
    &_header
        flex-basis: 40%

.header
    display: flex
    flex-flow: column
    &-top
        padding-top: 0
        padding-bottom: 0
        z-index: 2
        display: flex
        flex-flow: column
        justify-content: space-between
        align-items: center
        float: left
        margin: auto 0
        min-height: 220px
        &_wrapper
            position: relative
            display: flex
            height: 100vh
            background: url(../img/headerBackground.jpg) center no-repeat
            background-position-x: 80%
            background-size: cover
        &_wrapper::before
            z-index: 1
            content: ''
            height: 100%
            width: 100%
            position: absolute
            top: 0
            left: 0
            background: linear-gradient(90deg, rgba(255,251,251,0.4) 40%, rgba(157,157,157,0.1) 76%, rgba(2,0,36,0.1) 100%)
        &__description
            color: $darkBlack
            font-size: 2em
            line-height: 35px
            font-weight: 500
        &__btns
            display: flex
            justify-content: space-between
            width: 50%
            min-width: 280px
    &-bottom
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        color: $white
        padding-top: 20px
        padding-bottom: 20px
        &_wrapper
            z-index: 2
            position: fixed
            width: 100%
            background-color: $darkBlue
        &__logo
            display: flex
            font-size: 1.2em
            line-height: 25px
            font-weight: 600
        .menu
            font-size: 1em
            line-height: 30px
            display: flex
            justify-content: space-between
            align-items: center
            flex-basis: 60%
            text-transform: uppercase  
            &__item:not(:last-child)
                  margin-right: 1.5em
            &__link
                color: $white
        &__dropdown
            display: none
            height: 26px
            flex-flow: column
            justify-content: space-between
            span
                width: 35px
                height: 5px
                background-color: $lightBlue
                border-radius: 10px

.about
    display: flex
    flex-flow: column
    align-items: center
    justify-content: space-between
    margin: auto
    width: 100%
    background-color: white
    & *:not(:last-child)        
        margin-bottom: 2em
    &-wrapper
        background-color: white
        position: relative
        display: flex
        width: 100%
    &-img
        height: 200px
        width: 200px
        background: url(../img/about.jpg) center center no-repeat
        background-size: cover
        background-position: 30% 1% 
        border-radius: 100%
    &-description
        text-align: justify

.services
    padding-left: 0
    padding-right: 0
    position: relative
    display: flex
    &-content
        z-index: 1
        display: flex
        flex-flow: column
        justify-content: space-between
        align-items: center
    &::before
        position: absolute
        top: 0
        left: 0
        content: ""
        width: 100%
        height: 100%
        background: #f7f7f7dc
    &-wrapper
        width: 100%
        height: 100%
        background: url(../img/servicesBackground.jpg) center no-repeat
        background-size: cover
        background-attachment: fixed
    &-title
        margin-bottom: 2em
    &-cards
        display: flex
        justify-content: space-between
        width: 75%
        min-width: 1080px
        flex-wrap: wrap
    .cards
        &-item
            display: flex
            flex-flow: column
            align-items: center
            justify-content: space-between
            min-height: 250px
            flex-basis: 20%
        &__img
            width: 20%
            height: auto
        &__title
            color: $headers
            font-size: 1.1em
            line-height: 20px
            text-align: center
        &__description
            text-align: center

.portfolio
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: center
    &>:not(:last-child)
        margin-bottom: 1.5em
        
    &-filter
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        max-width: 500px
        min-width: 300px
    &-gallary
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-items: center
        transition: all ease 0.3s
        &__img
            width: 250px
            height: 250px
            background-color: red
            transition: all ease 0.4s
            margin-bottom: 1em
            margin-right: 1em
            background: url(../img/servicesBackground.jpg) center no-repeat
            background-size: cover
        &__img:hover
            cursor: pointer
            transform: scale(1.2)
            transition: all ease .5s


@media screen and (max-width: 1110px)
    .services
        .cards
            padding-left: 1em
            padding-right: 1em
            min-width: auto
            width: 100%
            justify-content: space-between
            &-item
                min-width: 250px
                flex-basis: 45%
@media screen and (max-width: 1040px)
    body
        font-size: 14px
        line-height: 18px
    .header-bottom
        .menu
            transform: translateY(2em)
            height: 0
            order: 3
            flex-flow: column
            flex-basis: 100%
            overflow: hidden
            transition: all ease .4s
            &__item
                width: 100%
                text-align: left
                margin-right: 0 !important
        .open
            padding-bottom: 1.5em
            height: 300px
            transition: all ease .4s 
        &_wrapper
            position: relative
        &_wrapper:before
            content: ""
            display: block
            width: 100%
            height: 1px
            background-color: $lightBlue
            position: absolute
            top: 65px
            left: 0
        &__dropdown
            display: flex

@media screen and (max-width: 768px)
    .header
        &-top
            &_wrapper
                height: 350px
            &_wrapper::before
                background: linear-gradient(90deg, rgba(150,150,150,0.7) 100%, rgba(157,157,157,0.7) 76%, rgba(2,0,36,0.7) 100%)
    .container
        padding: $paddingContainerTablet
@media screen and (max-width: 425px)
    .services
        .cards
            padding: 0
            justify-content: center
            &-item
                flex-basis: 100%
    .portfolio-gallary__img
        margin-right: 0
    .portfolio-description
        text-align: justify